body {
    width: 95%;
    margin: 0 auto;
  }
  /* navbar and heading part style */
  header {
    background-color: antiquewhite;
  }
  header {
    background-color: antiquewhite;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 3%;
  }
  .navbar h1 {
    font-size: 35px;
    text-align: start;
    margin-left: 5px;
  }
  .navbar div {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
  }
  .navbar a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .heading {
    text-align: center;
    background-color: antiquewhite;
    margin: 0%;
    margin: 20px 0;
    padding: 20px;
  }

  #transe {
    background-color: antiquewhite;
    transition-property: background-color;
    transition-duration: 10s;
    transition-delay: 1s;
  }
  .heading h1 {
    font-weight: 900;
  }
  .btn {
    padding: 0.5rem;
    font-size: 0.6rem;
    border-radius: 10%;
    background-color: coral;
  }
  .banner img {
    width: 100%;
    padding: 1%;
    height: 70%;
    background-color: antiquewhite;
  }
  /*Quick Feature Style */
  .quickfeature {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
  }
  .quickfeature div {
    width: 50%;
  }
  .quickfeatureimages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .quickfeatureimages img {
    width: 95%;
    padding: 4%;
  }
  .quickfeatureinfo {
    padding: 5%;
    align-items: center;
    margin: auto 0;
  }
  /* All Feature Style */
  .Allfeatures {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }
  .featuresList {
    width: 50%;
    margin: auto 0;
  }
  .featuresheading {
    margin-bottom: 30px;
  }
  .featuresheading h1 {
    font-size: 35px;
    color: brown;
  }
  .featuresList div {
    margin: 3%;
    padding: 3%;
    box-shadow: 10px 10px 10px rgb(248, 244, 244);
  }
  .featuresImage {
    width: 50%;
    margin: 3%;
    position: relative;
  }
  .featuresImage img {
    width: 100%;
    margin: auto 0;
  }
  /* Experience Style */
  .experience {
    background-color: chocolate;
    color: aliceblue;
    width: 20%;
    text-align: center;
    position: absolute;
    bottom: -20px;
    left: -20px;
  }
  .experience p {
    font-size: 15px;
  }
  /* Projects Style */
  .ourProjects h1 {
    text-align: center;
    font-size: 30px;
  }
  .projects {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .project {
    width: 24%;
    box-shadow: 10px 10px 10px rgb(141, 127, 127);
    margin: 3%;
  }
  .project img {
    width: 90%;
    height: 15rem;
    border-radius: 20px;
  }
  /* facts style */
  .facts {
    margin: 30px auto;
    padding: 3%;
  }
  .facts h1 {
    font-size: 25px;
  }
  
  .fcactssection {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .fcactssection div {
    border: 2px solid red;
    width: 20%;
    text-align: center;
    box-shadow: 10px 10px 10px rgb(141, 127, 127);
  }
  .fcactssection img {
    width: 25%;
    height: 25%;
    margin: 10px;
  }
  /* Sponsors Style */
  .sponsores {
    margin: 30px auto;
    padding: 3%;
    text-align: center;
  }
  .sponsores h1 {
    font-size: 30px;
  }
  .sponsorImage {
    display: flex;
    justify-content: space-around;
  
    margin: 10% auto;
  }
  
  .sponsorImage img {
    margin: 5%;
    padding: 5%;
  }
  