body {
    width: 95%;
    margin: 0 auto;
  }
  /* navbar and heading part style */
  header {
    background-color: antiquewhite;
  }
  header {
    background-color: antiquewhite;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 3%;
  }
  .navbar h1 {
    font-size: 35px;
    text-align: start;
    margin-left: 5px;
  }
  .navbar div {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
  }
  .navbar a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
  }
  .heading {
    text-align: center;
    background-color: antiquewhite;
    margin: 0%;
    margin: 20px 0;
    padding: 20px;
  }

  